<div class="project-hero-image" *ngIf="ourHomeData" ngsReveal>
    <img [src]="ourHomeData.url_banner">
    <div class="cover">
        <div class="wrapper">
            {{ourHomeData.titulo}}
        </div>
    </div>
</div>
<div class="wrapper" *ngIf="ourHomeData">
    <div class="grid division-section">
        <div class="col-50" ngsReveal>
            <div class="section-title no-padding-top"  [routerLink]="['/our-company']">QUIÉNES SOMOS</div>
            <div class="section-content fix-padding-right"><span [innerHTML]="ourHomeData.quienes_somos"></span><br><br>
                <button type="button" class="primary-button" [routerLink]="['/our-company']">Ver más</button>
                <br><br>
            </div>

        </div>
        <div class="col-50" ngsReveal>
            <img class="our-section-image"  [routerLink]="['/our-company']" [src]="ourHomeData.url_image">
        </div>
    </div>
</div>

<section ngsReveal>
    <div class="background-section" [style.background-color]="'white'"
        *ngIf="ourHomeData">
        <div class="shadow"></div>
        <div class="wrapper " [style.position]="'relative'">
            <div class="grid categories-card">

                <div class="col-50 card" ngsReveal>
                    <div class="section-title sm" [routerLink]="['/sig-politics']">POLÍTICAS SIG</div>
                    <div class="section-content sm"><span [innerHTML]="ourHomeData.politicas_sig"></span>
                        <br><br>
                        <button type="button" class="primary-button" [routerLink]="['/sig-politics']">Ver más</button>
                    </div>
                </div>
                <div class="col-50 card" ngsReveal>
                    <div class="section-title sm" [routerLink]="['/certifications']">CERTIFICACIONES</div>
                    <div class="section-content sm"><span [innerHTML]="ourHomeData.certificaciones"></span>
                        <br><br>
                        <button type="button" class="primary-button" [routerLink]="['/certifications']">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>