@import "../../styles.scss";
:host {
  .project-hero-image {
    display: block;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
      position: relative;
      display: block;
    }
    .cover {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      display: block;
      content: " ";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 40px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
      padding-top: 100px;
      span {
        padding-top: 10px;
        font-size: 20px;
        color: $gray-color;
        display: block;
        font-weight: normal;
      }
    }
  }
  display: block;
  padding-top: 65px;
  .division-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .text-icon {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .round-icon {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid $primary-color;
    width: 80px;
    display: block;
    object-fit: contain;
    margin-bottom: 10px;
  }
  .our-section-image {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }
  .fix-padding-right {
    padding-right: 50px;
    @media screen and (max-width: 425px) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .fix-padding-left {
    padding-left: 50px;
    @media screen and (max-width: 425px) {
      padding-right: 10px;
      padding-left: 10px;
    }
    @media screen and (max-width: 1281px) {
      padding-left: 45px !important;
    }
  }
  .background-section {
    position: relative;
    .shadow {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 0;
    }
    padding: 20px;
    .card {
      background-color: rgba(255, 255, 255, 1);
      background-clip: padding-box;
      box-sizing: border-box;
      border: 15px solid transparent;
    }
    .categories-card {
      z-index: 10;
      margin-left: -15px;
      margin-right: -15px;
      width: auto;
    }
  }

  .section-title {
    cursor: pointer;
  }
  .our-section-image {
    cursor: pointer;
  }

  .section-title.no-padding-top {
    padding-top: 0;
  }
  .section-title.sm {
    padding-top: 0;
    font-size: 20px;
    &::before {
      height: 6px;
    }
    @media screen and (max-width: 425px) {
      left: -10px;
    }
  }
  .section-content.sm {
    font-size: 14px;
  }
  .section-subtitle {
    text-align: left;
    color: black;
    padding: 15px;
  }
  .col-50.card {
    padding: 15px;
    box-sizing: border-box;
  }
}
