@import "../../styles.scss";
:host {
  .project-hero-image {
    display: block;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
      position: relative;
      display: block;
    }
    .cover {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      display: block;
      .wrapper {
        top: 0;
        bottom: 0;
        height: fit-content;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        @media screen and (max-width: 425px) {
          font-size: 25px;
        }
      }
      content: " ";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 40px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
      padding-top: 100px;
      span {
        padding-top: 10px;
        font-size: 20px;
        color: $gray-color;
        display: block;
        font-weight: normal;
      }
    }
  }
  display: block;
  padding-top: 65px;
  .project-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    .project-card {
      height: 300px;
      background-color: $gray-color;
      background-clip: padding-box;
      border: 8px solid transparent;
      box-sizing: border-box;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
      span {
        width: 100%;
        display: block;
        position: absolute;
        z-index: 50;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        box-sizing: border-box;
        color: white;
        transition: all 0.5s;
        height: 75px;
        font-weight: bold;
        text-transform: uppercase;
      }
      &:nth-of-type(odd) span {
        left: 0;
        bottom: 0;
      }
      &:nth-of-type(even) span {
        left: 0;
        top: 0;
      }
      &:hover {
        span {
          height: 100%;
          transition: all 0.5s;
        }
      }
    }
  }
  .description-container {
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
    padding-top: 10px;
    @media screen and (max-width: 425px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .project-description {
    border: 15px solid transparent;
    box-sizing: border-box;
    background-clip: padding-box;
    height: 100%;
    min-height: 375px;
    @media screen and (max-width: 425px) {
      &.mobile-top {
        margin-top: -40px;
      }
    }
  }

  .mosaic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: 200px;
    width: 100%;
    .big {
      grid-column: span 2;
      grid-row: span 2;
    }
    .large {
      grid-column: span 2;
      grid-row: span 1;
    }
    .small {
      grid-column: span 1;
      grid-row: span 1;
    }
    * {
      background-color: gray;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .section-fix {
    padding-top: 0px;
    padding-left: 15px;
    &::before {
      left: 15px;
    }
  }
  .project-fix {
    padding-top: 40px;
  }
  .grid.align-height {
    display: flex;
    align-items: stretch;
    .col-20 {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      .option {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 5px;
        background-color: gray;
        color: white;
        text-align: center;
        /*  flex-grow: 1; */
        align-self: stretch;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
        cursor: pointer;
        transition: all 0.5s;
        &:hover, &.active {
          background-color: $primary-color;
          color: white;
          transition: all 0.5s;
        }
        
      }
    }
    .col-80 {
      /*  background-color: lightgray; */
    }
  }
  .description-option-text {
    padding: 30px;
    padding-right: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    text-align: justify;
    ::ng-deep {
      p {
        margin: 0;
        padding: 0;
      }
    }
    @media screen and (max-width: 425px) {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      padding-top: 20px;
    }
  }
  .description-carousel-option {
    position: relative;
    height: 450px;
    padding: 30px;
    padding-right: 0;
    padding-top: 0;
    box-sizing: border-box;
    @media screen and (max-width: 425px) {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }
  }
  .special {
    min-height: 500px;
    display: block;
    position: relative;
    @media screen and (max-width: 425px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .bim {
    @media screen and (max-width: 425px) {
      margin-left: 0;
      margin-right: 0;
      padding-right: 20px;
      padding-left: 20px;
      background-clip: content-box;
      box-sizing: border-box;
    }
  }
}
