<div class="project-hero-image" *ngIf="projectData" ngsReveal>
    <img [src]="projectData.path_image">
    <div class="cover">
        <div class="wrapper">
            {{projectData.titulo}}
            <!-- <span>Nombre del Proyecto</span> -->
        </div>
    </div>
</div>
<div class="wrapper" *ngIf="projectData">
    <div class="grid description-container project-fix">
        <div class="col-50" ngsReveal>
            <div class="section-title section-fix">DESCRIPCIÓN</div>
            <div class="section-content project-description" [innerHTML]="projectData.descripcion">
            </div>
        </div>
        <div class="col-50" ngsReveal>
            <div class="project-description mobile-top" *ngIf="detailConfig">
                <app-simple-carousel [config]="detailConfig"></app-simple-carousel>
            </div>
        </div>
    </div>
    <br><br>
    <div class="grid align-height bim" *ngIf="isSpecial">
        <div class="col-20" ngsReveal>
            <div class="option" *ngFor="let item of bim; let idx = index;" (click)="setBimActive(idx)"
                [ngClass]="{'active': idxActualBim == idx}">
                <span>{{item.titulo_boton}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></span>
            </div>
        </div>
        <div class="col-80 special">
            <section ngsReveal *ngIf="activeBim">
                <p class="description-option-text" [innerHTML]="activeBim.descripcion"></p>
                <div class="description-carousel-option" *ngIf="activeBimConfig">
                    <app-simple-carousel [config]="activeBimConfig"></app-simple-carousel>
                </div>
            </section>

        </div>
    </div>
    <div class="video" *ngIf="projectData && projectData.url_video && extractedURL">
        <iframe style="width:100%" height="450" [src]="extractedURL" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<br>
<br>