<div class="project-hero-image" *ngIf="detailServiceData" ngsReveal>
    <img [src]="detailServiceData.path_image">
    <div class="cover">
        <div class="wrapper">
            {{detailServiceData.titulo}}
            <!-- <span>Nombre del Proyecto</span> -->
        </div>
    </div>
</div>
<div class="wrapper" *ngIf="detailServiceData">
    <div class="grid grid-detail-service">
        <div class="col-50" ngsReveal>
            <div class="project-description project-fix">
                <div class="section-title section-fix">DESCRIPCIÓN</div>
                <br>
                <div [innerHTML]="detailServiceData.descripcion"></div>
            </div>
        </div>
        <div class="col-50" *ngIf="images" ngsReveal (click)="toggleCarousel()">
            <div class="mosaic" >
                <div class="big" >
                    <img [src]="images[0].url_image">
                </div>
                <div class="large">
                    <img [src]="images[1].url_image">
                </div>
                <div class="large">
                    <img [src]="images[2].url_image">
                </div>
            </div>
        </div>

        <div class="col-100" ngsReveal *ngIf="isSpecial">
            <img class="banner-infographic" [src]="detailServiceData.normal_image">
            <img class="banner-infographic-mobile" [src]="detailServiceData.mobile_image">
        </div>
    </div>
</div>

<div class="modal-wrapper" ngsReveal  *ngIf="mainConfig && showCarousel">
    <div class="modal">
        <div class="body">
            <div class="times" (click)="toggleCarousel()">&times;</div>
            <app-simple-carousel [config]="mainConfig"></app-simple-carousel>
        </div>
    </div>
</div>
<br>
<br>