@import "../../styles.scss";
:host {
  .project-hero-image {
    display: block;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
      position: relative;
      display: block;
    }
    .cover {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      display: block;
      content: " ";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 40px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
      padding-top: 100px;
      span {
        padding-top: 10px;
        font-size: 20px;
        color: $gray-color;
        display: block;
        font-weight: normal;
      }
      .wrapper {
        top: 0;
        bottom: 0;
        height: fit-content;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        @media screen and (max-width: 425px) {
          font-size: 25px;
        }
      }
    }
  }
  display: block;
  padding-top: 65px;
  .project-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    .project-card {
      height: 300px;
      background-color: $gray-color;
      background-clip: padding-box;
      border: 8px solid transparent;
      box-sizing: border-box;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
      span {
        width: 100%;
        display: block;
        position: absolute;
        z-index: 50;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        box-sizing: border-box;
        color: white;
        transition: all 0.5s;
        height: 75px;
        font-weight: bold;
        text-transform: uppercase;
      }
      &:nth-of-type(odd) span {
        left: 0;
        bottom: 0;
      }
      &:nth-of-type(even) span {
        left: 0;
        top: 0;
      }
      &:hover {
        span {
          height: 100%;
          transition: all 0.5s;
        }
      }
    }
  }
  .project-description {
    padding-top: 0px;
    padding-bottom: 40px;
    font-size: 16px;
    color: $gray-color;
    padding-right: 20px;
    text-align: justify;
    @media screen and (max-width: 425px) {
      margin-left: 0;
      padding-right: 0;
    }
  }
  .mosaic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: 150px;
    cursor: pointer;
    width: 100%;
    .big {
      grid-column: span 2;
      grid-row: span 2;
    }
    .large {
      grid-column: span 2;
      grid-row: span 1;
    }
    .small {
      grid-column: span 1;
      grid-row: span 1;
    }
    * {
      background-color: gray;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .grid-detail-service {
    margin-top: 40px;
    margin-right: -10px;
    margin-left: -10px;
    width: auto;
    & > div {
      border: 10px solid transparent;
      background-clip: content-box;
      box-sizing: border-box;
    }
    @media screen and (max-width: 425px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .section-fix {
    padding-top: 0;
  }
  .project-fix {
    padding-top: 0px;
  }
  .banner-infographic {
    width: 100%;
    margin-top: 30px;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
  .banner-infographic-mobile {
    width: 100%;
    margin-top: 30px;
    display: none;
    @media screen and (max-width: 425px) {
      display: block;
    }
  }
  .modal-wrapper {
    z-index: 1000;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    .modal {
      background-color: white;
      max-width: 800px;
      height: 50vh;
      flex-basis: 100%;
      width: 100%;
      .body {
        width: 100%;
        height: 100%;
        position: relative;
        .times{
          position: absolute;
          display: block;
          right: 10px;
          top: 10px;
          background-color: white;
          height: 32px;
          width: 32px;
          color:black;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          line-height: 32px;
          cursor: pointer;
          border-radius: 50%;
          z-index: 10;
          box-shadow: 2px 2px 2px black;
        }
      }
    }
  }
}
