<div class="carousel-container" [ngClass]="{'thumbnail-active': config.thumbnails}">
    <ul class="carousel-wrapper" *ngIf="config && config.arraySliders">
        <li *ngFor="let item of config.arraySliders" #listSlides>
            <img [src]="item.image">
            <div class="shadow" *ngIf="item.title && item.subtitle">&nbsp;</div>
            <div class="wrapper absolute" *ngIf="item.title && item.subtitle">
                <div class=" hero-title"><span>{{item.title}}</span></div>
                <div class="hero-subtitle">{{item.subtitle}} </div>
                <button [routerLink]="[item.url_page]" type="button" class="primary-button see-more">Ver más</button>
            </div>
        </li>
    </ul>
    <div class="button-next" [ngClass]="{'transparent': config.arrowTransparent}" (click)="next()"> &gt; </div>
    <div class="button-prev" [ngClass]="{'transparent': config.arrowTransparent}" (click)="prev()"> &lt; </div>
    <div class="selector-container" *ngIf="config && config.arraySliders && !config.thumbnails">
        <div #selectors class="button-selector" *ngFor="let item of config.arraySliders; let idx = index"
            (click)="goSlide(idx)">
        </div>
    </div>
    <div class="grid thumbnail-container" *ngIf="config && config.thumbnails">
        <div #thumbnails class="col-25 thumbnail-item" *ngFor="let item of config.arraySliders; let idx = index"
            (click)="goSlide(idx)">
            <img [src]="item.image">
        </div>
    </div>
</div>