@import "../../../styles.scss";
:host {
  .carousel-container {
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    margin: 0;
    padding: 0;
    position: relative;
    &.thumbnail-active {
      height: calc(100% - 80px);
    }
    @media screen and (max-width:425px){
     height: 100% !important;
     margin-top: 30px;
    }
  }
  .carousel-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      height: 100%;
      display: inline-block;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      transition: all 0.8s;

      @media screen and (max-width: 768px) {
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        button.primary-button {
          margin-top: 10px;
        }
      }

      .hero-title {
        color: white;
        font-size: 43px;
        font-weight: bold;
        max-width: 73%;
        letter-spacing: 4px;
        line-height: 44px;
        overflow: hidden;
        span {
          opacity: 0;
          display: block;
        }
        @media screen and (max-width: 1280px) {
        }
        @media screen and (max-width: 768px) {
          margin: 0 auto;
          right: 0;
          left: 0;
          text-align: center;

          max-width: 88%;
          span {
            font-size: 23px;
            line-height: normal;
            letter-spacing: normal;
            width: 100%;
          }
        }
        @media screen and (max-width: 425px) {
          max-width: 98%;
          padding: 0;
          
        }
      }
      .hero-subtitle {
        opacity: 0;
        margin-top: 10px;
        color: white;
        font-size: 18px;
        max-width: 50%;
        margin-bottom: 10px;
        @media screen and (max-width: 768px) {
          display: none;
        }
        /*    @media screen and (min-width: 769px) and (max-width: 1280px) {
          margin: 0 auto;
          right: 0;
          left: 0;
        } */
      }
      .see-more {
        opacity: 0;
        @media screen and (max-width: 425px) {
          max-width: 80%;
        }
      }
      .primary-button {
        padding-left: 40px;
        padding-right: 40px;
      }
      &.active {
        transition: all 0.8s;
        opacity: 1;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        .hero-title {
          span {
            animation: intro-effect-title 2s forwards;
            animation-delay: 0.5s;
            @keyframes intro-effect-title {
              0% {
                opacity: 0;
                /* transform: scale(2);
                -webkit-transform: scale(2); */
              }
              100% {
                opacity: 1;
                /*  transform: scale(1);
                -webkit-transform: scale(1); */
              }
            }
          }
        }
        .hero-subtitle {
          animation: intro-effect-subtitle 2s forwards;
          animation-delay: 1s;
          @keyframes intro-effect-subtitle {
            0% {
              opacity: 0;
              /* transform: scale(2);
                -webkit-transform: scale(2); */
            }
            100% {
              opacity: 1;
              /*  transform: scale(1);
                -webkit-transform: scale(1); */
            }
          }
        }
        .see-more {
          animation: intro-effect-subtitle 2s forwards;
          animation-delay: 1s;
        }
      }
      &.next {
        transition: all 0.8s;
        opacity: 0;
        left: 0;
        top: 0;
        position: absolute;
        z-index: 2;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .shadow {
        background-color: rgba(0, 0, 0, 0.72);
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
      }
    }
    .wrapper.absolute {
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 180px;
      position: absolute;
      @media screen and (max-width: 1340px) {
        margin: 0 auto;
        width: calc(100% - 120px);
      }
    }
  }
  .button-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    position: absolute;
    top: 47%;
    right: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    &.transparent {
      background-color: transparent;
    }
  }
  .button-prev {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    position: absolute;
    top: 47%;
    left: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    &.transparent {
      background-color: transparent;
    }
  }
  .selector-container {
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 10;
    .button-selector {
      display: inline-block;
      margin: 8px;
      background-color: white;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      cursor: pointer;
      &:hover {
        background-color: gray;
      }
      &.active {
        background-color: $secondary-color;
      }
    }

    /*  @media screen and (max-width: 1330px) { */
    margin: 0 auto;
    right: 0;
    left: 0;
    text-align: center;
    /*     } */
 
  }
  .thumbnail-container {
    height: 70px;
    width: auto;
    margin-right: -5px;
    margin-left: -5px;
    white-space: nowrap;
    .thumbnail-item {
      cursor: pointer;
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
      img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        object-position: center;
        box-sizing: border-box;
        padding-top: 5px;
        border: 5px solid transparent;
        background-clip: padding-box;
      }
    }
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}
