<div class="project-hero-image" *ngIf="certificationData">
    <img [src]="certificationData.url_banner">
    <div class="cover">
        <div class="wrapper">
            {{certificationData.titulo}}
        </div>
    </div>
</div>
<div class="wrapper" *ngIf="certificationData">
    <!--   <div class="section-title">NUESTRAS CERTIFICACIONES</div> -->
    <div class="grid division-section division-bottom-fix">
        <div class="col-100">
            <div class="section-content" [innerHTML]="certificationData.descripcion" *ngIf="certificationData.descripcion">

            </div>
        </div>
    </div>
    <div class="grid division-section division-top-fix" *ngIf="arrayCertifications">
        <div class="col-25" *ngFor="let item of arrayCertifications" ngsRevealSet [ngsInterval]="150"
            [ngsSelector]="'.col-25'">
            <div class="our-section-image">&nbsp;
                <pdf-viewer [autoresize]="true" [original-size]="false" [src]="item.url_document" [render-text]="true"
                    style="display: block; height: 200px;   border: 1px solid #cdcdcd;"></pdf-viewer>
            </div>
            <!--  <img class="our-section-image" src="/assets/img/carrusel-inicio1.jpg"> -->
            <span class="text-icon"> {{item.titulo}}</span>
            <span class="text-content">
                <a [href]="item.url_document" target="_blank" class="download-here">Descargar aquí</a>
            </span>
        </div>
    </div>
    <!-- <div class="grid division-section division-top-fix">
        <div class="col-100">
            <div class="section-title">HOMOLOGACIONES</div>
        </div>
    </div> -->
    <div class="grid division-section division-bottom-fix">
        <div class="col-100">
            <div class="section-content" [innerHTML]="certificationData.descripcion_homologacion" *ngIf="certificationData.descripcion_homologacion">

            </div>
        </div>
    </div>
    <div class="grid division-section division-top-fix" *ngIf="arrayHomologations">
        <div class="col-25" *ngFor="let item of arrayHomologations" ngsRevealSet [ngsInterval]="150"
            [ngsSelector]="'.col-25'">
            <div class="our-section-image">&nbsp;
                <pdf-viewer [autoresize]="true" [original-size]="false" [src]="item.url_document" [render-text]="true"
                    style="display: block; height: 200px;   border: 1px solid #cdcdcd;"></pdf-viewer>
            </div>
            <!--  <img class="our-section-image" src="/assets/img/carrusel-inicio1.jpg"> -->
            <span class="text-icon"> {{item.titulo}}</span>
            <span class="text-content">
                <a [href]="item.url_document" target="_blank" class="download-here">Descargar aquí</a>
            </span>
        </div>
    </div>
</div>