@import "../../styles.scss";
:host {
  .project-hero-image {
    display: block;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
      position: relative;
      display: block;
    }
    .cover {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      display: block;
      content: " ";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 40px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
      padding-top: 100px;
      span {
        padding-top: 10px;
        font-size: 20px;
        color: $gray-color;
        display: block;
        font-weight: normal;
      }
    }
  }
  display: block;
  padding-top: 65px;
  .division-section {
    padding-top: 30px;
    padding-bottom: 30px;
    &.division-top-fix {
      padding-top: 0;
    }
    &.division-bottom-fix {
      padding-bottom: 0;
    }
    .our-section-image {
      box-sizing: border-box;
      background-clip: padding-box;
      border: 15px solid transparent;
      object-fit: cover;
      display: block;
    }
  }
  .text-icon {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .text-content {
    background-clip: padding-box;
    padding: 15px;
    box-sizing: border-box;
    display: block;
    text-align: justify;
    width: 100%;
  }
  .round-icon {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid $primary-color;
    width: 80px;
    display: block;
    object-fit: contain;
    margin-bottom: 10px;
  }
  .our-section-image {
    width: 100%;
    object-fit: cover;
    display: block;
    border: 1px solid #cdcdcd;
  }
  .download-here {
    color: $secondary-color;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .section-content {
    @media screen and (max-width: 425px) {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
  }
}
