@import "../../../styles.scss";
:host {
  .header {
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    display: block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    .main-logo {
      height: 70px;
      object-fit: contain;
      display: block;
    }
    .menu-wrapper {
      text-align: right;
      color: $gray-color;
      & > ul {
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        & > li {
          text-transform: uppercase;
          &.icon-item {
            font-size: 24px;
            & .fa-facebook-square {
              color: #3b5998;
            }
            & .fa-linkedin {
              color: #0077b7;
            }
            & .fa-youtube {
              color: #ff0000;
            }
          }
          display: inline-block;
          height: 100%;
          line-height: 75px;
          padding-left: 10px;
          padding-right: 10px;
          box-sizing: border-box;
          cursor: pointer;
          position: relative;
          &::before {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 17px;
            background-color: $primary-color;
            margin: 0 auto;
            height: 4px;
            width: 0%;
            content: " ";
            transition: all 0.5s;
          }
          &:hover {
            &:not(.icon-item)::before {
              width: 80%;

              transition: all 0.5s;
            }
          }
          &.active {
            &::before {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 17px;
              background-color: $primary-color;
              margin: 0 auto;
              height: 4px;
              width: 80%;
              content: " ";
              transition: all 0.5s;
            }
          }
          .sub-menu {
            position: absolute;
            top: 65px;
            right: 0;
            left: 0;
            display: none;
            width: 220px;
            margin: 0;
            padding: 0;
            background-color: white;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
            .sub-item {
              display: block;
              width: 100%;
              margin: 0;
              padding: 10px;
              line-height: normal;
              box-sizing: border-box;
              text-align: left;
              transition: all 0.5s;
              &:hover {
                background-color: $gray-color;
                color: white;
                transition: all 0.5s;
              }
            }
          }
          &:hover > .sub-menu {
            display: block;
          }
        }
      }
      @media screen and (max-width: 425px) {
        display: none;
      }
    }
  }
  .menu-wrapper-mobile {
    display: none;
    @media screen and (max-width: 425px) {
      display: block;
      position: absolute;
      right: 15px;
      font-size: 30px;
      color: gray;
      top: 10px;
      cursor: pointer;
    }
  }
  .lateral-mobile-bar {
    background-color: white;
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
  .original-text-transform{
    text-transform: none !important;
  }
}
