<header class="header" >
	<div class="wrapper">
		<div class="grid">
			<div class="col-20">
				<img *ngIf="logoData" [routerLink]="['home']" [routerLinkActive]="['active']" style="cursor: pointer;" class="main-logo" [src]="logoData" />
			</div>
			<div class="col-80 menu-wrapper">
				<ul>
					<li [routerLink]="['home']" [routerLinkActive]="['active']">Inicio</li>
					<li><span [routerLink]="['our-home']" [routerLinkActive]="['active']">Nosotros</span>
						<ul class="sub-menu">
							<li [routerLink]="['our-company']" class="sub-item original-text-transform">¿Quiénes Somos?</li>
							<li [routerLink]="['sig-politics']" class="sub-item original-text-transform">Políticas SIG</li>
							<li [routerLink]="['certifications']" class="sub-item original-text-transform">Certificaciones</li>
						</ul>
					</li>
					<li><span [routerLink]="['services']" [routerLinkActive]="['active']">Servicios</span>
						<ul class="sub-menu">
							<ng-container *ngIf="servicesData">
								<li *ngFor="let item of servicesData.services" [routerLink]="['/services/'+ item.id]"
									class="sub-item original-text-transform">{{item.titulo}}
								</li>
							</ng-container>

						</ul>
					</li>
					<li><span [routerLink]="['projects']" [routerLinkActive]="['active']">Proyectos</span>
						<ul class="sub-menu">
							<ng-container *ngIf="projectsData">
								<li *ngFor="let item of projectsData.categories" [routerLink]="['/projects/'+item.id]"
									class="sub-item original-text-transform">{{item.titulo}}
								</li>
							</ng-container>
						</ul>
					</li>
					<li [routerLink]="['contact']" [routerLinkActive]="['active']">Contacto</li>
					<li *ngIf="footerData" class="icon-item">
						<a [href]="footerData.fb_url" target="_blank">
							<i class="fab fa-facebook-square"></i>
						</a>
					</li>
					<li *ngIf="footerData" class="icon-item">
						<a [href]="footerData.linkedin_url" target="_blank">
							<i class="fab fa-linkedin"></i>
						</a>
					</li>
					<li *ngIf="footerData" class="icon-item">
						<a [href]="footerData.yt_url" target="_blank">
							<i class="fab fa-youtube"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="menu-wrapper-mobile">
				<div (click)="showMobileOptions()"><i class="fas fa-bars"></i></div>
			</div>
			<div class="lateral-mobile-bar" *ngIf="showMobile">
				<ul>
					<li [routerLink]="['home']" [routerLinkActive]="['active']" (click)="showMobileOptions()">Inicio
					</li>
					<li [routerLink]="['our-home']" [routerLinkActive]="['active']" (click)="showMobileOptions()">
						Nosotros</li>
					<li [routerLink]="['services']" [routerLinkActive]="['active']" (click)="showMobileOptions()">
						Servicios</li>
					<li [routerLink]="['projects']" [routerLinkActive]="['active']" (click)="showMobileOptions()">
						Proyectos</li>
					<li [routerLink]="['contact']" [routerLinkActive]="['active']" (click)="showMobileOptions()">
						Contacto</li>
				</ul>
			</div>
		</div>
	</div>
</header>