:host {
  .loading-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    align-items: center;

    .loading {
      text-align: center;
      margin: 0 auto;
      font-weight: bold;
      img{
          width: 100px;
          height: 100px;
          object-fit: contain;

      }
    }
  }
}
