<div class="project-hero-image" *ngIf="banner">
    <img [src]="banner.path_banner">
    <div class="cover">
        <div class="wrapper">
            {{banner.titulo}}
            <!--  <span>Nombre del Proyecto</span> -->
        </div>
    </div>
</div>
<div class="wrapper" *ngIf="categoryProjectsData">
    <br><br>
    <div class="grid service-grid">

        <div class="col-25" *ngFor="let item of categoryProjectsData" [routerLink]="['/projects/'+item.id]" ngsRevealSet [ngsInterval]="150" [ngsSelector]="'.col-25'">
            <div class="service-card">
                <img [src]="item.path_image">
                <div class="title-card"><span>{{item.titulo}}</span></div>
            </div>
            <div class="center">{{item.titulo}}</div>
        </div>
    </div>
</div>
<br><br>