@import "../..//styles.scss";
:host {
  .project-hero-image {
    display: block;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
      position: relative;
      display: block;
    }
    .cover {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      display: block;
      content: " ";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 40px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
      padding-top: 100px;
      span {
        padding-top: 10px;
        font-size: 20px;
        color: $gray-color;
        display: block;
        font-weight: normal;
      }
    }
  }
  display: block;
  padding-top: 65px;
  .contact-grid {
    margin-left: -30px;
    margin-right: -30px;
    width: auto !important;
    @media screen and (max-width: 425px) {
      margin-right: 0;
      margin-left: 0;
    }
  }
  agm-map {
    height: 350px;
  }
  .maps-wrapper {
    display: block;
    padding-top: 65px;
  }
  .content-wrapper {
    padding: 30px;
    box-sizing: border-box;
    @media screen and (max-width: 425px) {
      padding: 10px;
      .section-title {
        padding: 0;
        margin-top: 10px;
        &::before {
          left: 0px !important;
          bottom: -5px !important;
        }
      }
      .section-content {
        margin-bottom: 25px;
      }
    }
  }
  .form-wrapper {
    input,
    textarea {
      display: block;
      width: 100%;
      height: 30px;
      background-color: #efefef;
      color: $gray-color;
      margin-top: 5px;
      margin-bottom: 5px;
      border: none;
      padding: 25px;
      box-sizing: border-box;
    }
    textarea {
      height: 150px;
    }
  }
}
