<div class="project-hero-image" *ngIf="contactData" ngsReveal>
    <img [src]="contactData.banner_url">
    <div class="cover">
        <div class="wrapper">
            Contacto
            <!-- <span>Nombre del Proyecto</span> -->
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="grid contact-grid">
        <div class="col-50 content-wrapper" *ngIf="contactData" ngsReveal>
            <div class="section-title">PREGUNTAS</div>
            <div class="section-content" [innerHTML]="contactData.question">
            </div>
            <br>
            <div class="form-wrapper" [formGroup]="sendMailForm">
                <input formControlName="nombre" type="text" placeholder="Nombre y Apellidos">
                <input formControlName="email" type="email" placeholder="Email">
                <input formControlName="asunto" type="text" placeholder="Asunto">
                <textarea formControlName="mensaje" placeholder="Mensaje"></textarea>
                <br>
                <button (click)="sendMessage()" type="button" class="primary-button"><i class="fas fa-envelope"></i>
                    &nbsp;
                    ENVIAR </button>
            </div>
        </div>
        <div class="col-50 content-wrapper" *ngIf="contactData" ngsReveal>
            <div class="section-title align-left">OFICINA PRINCIPAL</div>
            <div class="section-content" [innerHTML]="contactData.first_office">

            </div>
            <div class="section-title">EMPLEOS</div>
            <div class="section-content" [innerHTML]="contactData.job">

            </div>
        </div>
    </div>
</div>
<agm-map *ngIf="contactData" ngsReveal [latitude]="contactData.lat" [longitude]="contactData.lon" [scrollwheel]="false"
    [zoom]="18">
    <agm-marker [latitude]="contactData.lat" [longitude]="contactData.lon" [iconUrl]="{url:'/assets/img/map.png' }">
    </agm-marker>
</agm-map>