<div class="project-hero-image">
    <img src="/assets/img/incio2.jpg">
    <div class="cover">
        <div class="wrapper">
            Políticas SIG
        </div>
    </div>
</div>
<br><br>
<div class="wrapper center" *ngIf="sigData">
    <div class="infographic-wrapper no-show-mobile">
        <img class="infographic" [src]="sigData.path_politic">
    </div>
    <div class="infographic-wrapper show-mobile">
        <pdf-viewer [autoresize]="true" [original-size]="false" [src]="sigData.url_politic" [render-text]="true"
        style="display: block; height: 100%;   border: 1px solid #cdcdcd;"></pdf-viewer>
    </div>
    <br><br>
    <a [href]="sigData.url_politic" target="_blank" class="primary-button"><i class="fas fa-download"></i> &nbsp;
        Descargar Políticas SIG</a>
</div>
<br>
<br>
<br>