@import "../../styles.scss";
:host {
  .project-hero-image {
    display: block;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
      position: relative;
      display: block;
    }
    .cover {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      display: block;
      content: " ";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 40px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
      padding-top: 100px;
      span {
        padding-top: 10px;
        font-size: 20px;
        color: $gray-color;
        display: block;
        font-weight: normal;
      }
    }
  }
  display: block;
  padding-top: 65px;
  .project-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    .card-service {
      box-sizing: border-box;
      border: 20px solid transparent;
      background-clip: content-box;
      .image-service-card {
        width: 100%;
        object-fit: cover;
        height: 220px;
      }
      .image-title-card {
        font-size: 18px;
        font-weight: bold;
        padding-top: 10px;
        text-align: center;
      }
      .image-content-card {
        text-align: center;
        line-height: 1.5rem;
        color: $gray-color;
      }
    }
    .primary-button {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .grid.service-grid {
    margin-right: -10px;
    margin-left: -10px;
    width: auto !important;
    @media screen and (max-width: 425px) {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .service-card {
    overflow: hidden;
    width: 100%;
    border: 10px solid transparent;
    box-sizing: border-box;
    background-clip: border-box;

    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    &:hover {
      transform: translateY(-5px);
      transition: all 0.5s;
      .title-card {
        transform: scale(1);
        transition: all 0.5s;
        span:hover {
          color: $primary-color;
        }
      }
    }
    img {
      width: 100%;
      height: 245px;
      object-fit: cover;
    }
    .title-card {
      position: absolute;
      bottom: 4px;
      left: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.75);
      display: block;
      width: 100%;
      line-height: 245px;
      font-size: 20px;
      font-weight: 800;
      text-align: center;
      transform: scale(0);
      transition: all 0.5s;
      span {
        color: $gray-color;
      }
    }
  }
  .service-grid {
    .col-33 {
      @media screen and (max-width: 425px) {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
