<div class="project-hero-image" *ngIf="banner" ngsReveal>
    <img [src]="banner.path_banner">
    <div class="cover">
        <div class="wrapper">
            {{banner.titulo}}
        </div>
    </div>
</div>
<br><br><br>
<div class="wrapper" *ngIf="servicesArray">
    <div class="grid service-grid" >
        <div class="col-25" *ngFor="let item of servicesArray" [routerLink]="['/services/'+item.id]" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.col-25'">
            <div class="service-card">
                <img [src]="item.path_image">
                <div class="title-card"><span>{{item.titulo}}</span></div>
            </div>
            <div class="center">{{item.titulo}}</div>
        </div>
    </div>
    <br>
    <br>
    <div class="center" ngsReveal>
        <a [href]="banner.brochure" target="_blank"  class="primary-button"><i class="fas fa-download"></i> &nbsp;Descargar
            Brochure</a>
    </div>
</div>
<br><br><br>