<div #outerContainer class="outer-container" [ngStyle]="config.style">
    <ul #innerContainer [ngClass]="{'inner-container': !config.contain,'inner-container-contain': config.contain}">
        <ng-container *ngIf="config.arraySliders">
            <li *ngFor="let slider of config.arraySliders">
                <img [src]="slider">
            </li>
        </ng-container>
    </ul>
</div>