@import "../../../styles.scss";
:host {
  .outer-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    white-space: nowrap;
    .inner-container {
      padding: 0;
      margin: 0;
      list-style: none;
      height: 100%;
      & > li {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        display: inline-block;
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
          display: block;
          object-position: center;
        }
      }
    }
    .inner-container-contain {
        padding: 0;
        margin: 0;
        list-style: none;
        height: 100%;
        & > li {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          display: inline-block;
          img {
            width: 100%;
            object-fit: contain;
            height: 100%;
            display: block;
            object-position: center;
          }
        }
      }
  }
}
