@import "../../styles.scss";
:host {
  .project-hero-image {
    display: block;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
      position: relative;
      display: block;
    }
    .cover {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      display: block;
      .wrapper {
        top: 0;
        bottom: 0;
        height: fit-content;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        @media screen and (max-width: 425px) {
          font-size: 25px;
        }
      }
      content: " ";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 40px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
      padding-top: 100px;
      span {
        padding-top: 10px;
        font-size: 20px;
        color: $gray-color;
        display: block;
        font-weight: normal;
      }
    }
  }
  display: block;
  padding-top: 65px;
  .project-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    .project-card {
      height: 300px;
      background-color: $gray-color;
      background-clip: padding-box;
      border: 8px solid transparent;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
      span {
        width: 100%;
        display: block;
        position: absolute;
        z-index: 50;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        box-sizing: border-box;
        color: white;
        transition: all 0.5s;
        height: 75px;
        font-weight: bold;
        text-transform: uppercase;
      }
      &:nth-of-type(odd) span {
        left: 0;
        bottom: 0;
      }
      &:nth-of-type(even) span {
        left: 0;
        top: 0;
      }
      &:hover {
        span {
          height: 100%;
          transition: all 0.5s;
        }
      }
    }
  }
  .grid.service-grid {
    min-height: calc(100vh - 625px);
    margin-right: -10px;
    margin-left: -10px;
    width: auto !important;
    @media screen and (max-width: 425px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .service-card {
    overflow: hidden;
    width: 100%;
    border: 10px solid transparent;
    box-sizing: border-box;
    background-clip: border-box;

    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    &:hover {
      transform: translateY(-5px);
      transition: all 0.5s;
      .title-card {
        transform: scale(1);
        transition: all 0.5s;
        span:hover {
          color: $primary-color;
        }
      }
    }
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
    }
    .title-card {
      position: absolute;
      bottom: 4px;
      left: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.75);
      display: block;
      width: 100%;
      font-weight: 800;
      text-align: center;
      transform: scale(0);
      transition: all 0.5s;
      span {
        position: absolute;
        display: block;
        text-align: center;
        margin: auto;
        padding: 10px;
        box-sizing: border-box;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        height: fit-content;
        font-weight: 800;
        font-size: 16px;
        color: $gray-color;
        @media screen and (max-width: 425px) {
          bottom: 10px !important;
          padding-bottom: 0;
          /* margin-top: -30px; */
          top: auto;
          line-height: normal;
        }
      }
    }
  }
  .service-grid {
    .col-33 {
      @media screen and (max-width: 425px) {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
