<div class="project-hero-image" *ngIf="banner">
    <img [src]="banner.path_image">
    <div class="cover">
        <div class="wrapper">
            {{banner.titulo}}
            <span></span>
        </div>
    </div>
</div>
<div class="wrapper">
</div>
<div class="wrapper" *ngIf="projects">

    <br><br>
    <div class="grid service-grid">
        <div class="col-25" *ngFor="let item of projects" [routerLink]="['/projects/' + categoryId + '/'+ item.id]" ngsRevealSet [ngsInterval]="150" [ngsSelector]="'.col-25'">
            <div class="service-card">
                <img [src]="item.path_image">
                <div class="title-card"><span>{{item.titulo}}</span></div>
            </div>
        </div>

    </div>
</div>
<br><br>