<section class="carousel-wrapper" ngsReveal *ngIf="homeData && homeData.sliders && mainConfig">
	<app-simple-carousel [config]="mainConfig"></app-simple-carousel>
</section>
<section *ngIf="homeData">
	<div class="wrapper">
		<div class="hero" ngsReveal>
			<div class="section-title keep-large-height">SERVICIOS</div>
			<div class="hero-content">
				{{homeData.home.frase_servicio}}
			</div>
		</div>
		<br>
		<br>
		<div class="grid service-grid" *ngIf="servicesData">
			<div class="col-25" *ngFor="let item of servicesData" [routerLink]="['/services/'+item.id]" ngsRevealSet
				[ngsInterval]="200" [ngsSelector]="'.col-25'">
				<div class="service-card">
					<img [src]="item.path_image">
					<div class="title-card"><span>{{item.titulo}}</span></div>
				</div>
				<div class="center">{{item.titulo}}</div>
			</div>

		</div>
	</div>
	<br>
	<div class="grid" ngsReveal>
		<div class="col-100 statistics" (appVisibleTriggerAction)="showAnimateNumbers()">
			<img class="statistics-image" [src]="homeData.home.url_banner">
			<div class="wrapper">
				<div class="grid">
					<div class="col-25"><span class="highlight" [attr.data-number]="homeData.home.anios_exp"
							#numbers>{{homeData.home.anios_exp}}</span><span>Años de
							experiencia</span></div>
					<div class="col-25"><span class="highlight" [attr.data-number]="homeData.home.clientes"
							data-prefix="+" #numbers>+{{homeData.home.clientes}}</span><span>Clientes
							satisfechos</span></div>
					<div class="col-25"><span class="highlight" [attr.data-number]="homeData.home.proyectos"
							data-prefix="+" #numbers>+{{homeData.home.proyectos}}</span><span>Proyectos
							completados</span></div>
					<div class="col-25"><span class="highlight" [attr.data-number]="homeData.home.certificaciones"
							#numbers>{{homeData.home.certificaciones}}</span><span>Certificaciones</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div ngsReveal class="section-title keep-large-height">NUESTROS CLIENTES</div>
		<div ngsReveal class="hero-content bg">
			{{homeData.home.frase_clientes}}
		</div>
		<br>
		<div ngsReveal class="brands-wrapper" *ngIf="clientSlider1">
			<app-carousel [config]="clientSlider1"></app-carousel>
		</div>
		<div ngsReveal class="brands-wrapper" *ngIf="clientSlider2">
			<app-carousel [config]="clientSlider2"></app-carousel>
		</div>
	</div>
</section>
<br><br><br>
<div class="modal-wrapper" *ngIf="hasPopup && popup" ngsReveal>
	<div class="modal">
		<div class="xtimes" (click)="toggleIntroModal()">&times;</div>
		<div class="body grid">
			<div class="col-50 img">
				<img [src]="popup.url_imagen">
			</div>
			<div class="col-50 text">
				<div>
					<div class="popup-title" [innerHTML]="popup.titulo"></div>
					<div class="popup-description" [innerHTML]="popup.descripcion"></div>
				</div>
			</div>
		</div>
	</div>
</div>