@import "../../styles.scss";
:host {
  .carousel-wrapper {
    height: 540px;
    margin-top: 65px;
    position: relative;
    .highlight-text {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 45px;
      padding-top: 200px;
      box-sizing: border-box;
      color: white;
      display: block;
      background-color: rgba(0, 0, 0, 0.5);
      text-align: center;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
      span {
        opacity: 0;
        animation: appear 3s 1 ease-out forwards;
        animation-delay: 1s;
        @keyframes appear {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
  .grid.service-grid {
    margin-right: -10px;
    margin-left: -10px;
    width: auto !important;
    @media screen and (max-width: 425px) {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .service-card {
    overflow: hidden;
    width: 100%;
    border: 10px solid transparent;
    box-sizing: border-box;
    background-clip: border-box;

    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    &:hover {
      transform: translateY(-5px);
      transition: all 0.5s;
      .title-card {
        transform: scale(1);
        transition: all 0.5s;
        span:hover {
          color: $primary-color;
        }
      }
    }
    img {
      width: 100%;
      height: 245px;
      object-fit: cover;
    }
    .title-card {
      position: absolute;
      bottom: 4px;
      left: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.75);
      display: block;
      width: 100%;
      line-height: 245px;
      font-size: 20px;
      font-weight: 800;
      text-align: center;
      transform: scale(0);
      transition: all 0.5s;
      span {
        color: $gray-color;
      }
    }
  }
  .hero {
    background-color: white; //#efefef;
    margin-top: 20px;
    /*   padding: 10px; */
    padding-bottom: 10px;
  }
  .hero-content {
    padding-top: 17px;
    padding-bottom: 0;
    /* padding-right: 10px; */
    /*   padding-left: 10px; */
    display: block;
    text-align: left;
    max-width: 980px;
    //margin: 0 auto;
    color: $gray-color;
    @media screen and (max-width: 1280px) {
      max-width: 750px;
    }
    &.bg {
      font-size: 18px;
    }
    @media screen and (max-width: 425px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .brands-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 80px;
    display: block;
  }
  .statistics {
    position: relative;
    width: 100%;
    display: block;
    margin-top: 40px;
    &::before {
      content: " ";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 99%;
      background-color: rgba(0, 0, 0, 0.65);
    }
    .statistics-image {
      height: 320px;
      object-fit: cover;
      width: 100%;
    }
    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      span {
        text-align: center;
        display: block;
        color: white;
      }
      .highlight {
        font-size: 50px;
        color: white;
        margin-top: 120px;
        font-weight: 700;
      }
    }
    @media screen and (max-width: 425px) {
      .wrapper {
        .col-25 {
          height: 120px !important;
          flex-basis: 50% !important;
          max-width: 50% !important;
          .highlight {
            margin-top: 40px !important;
          }
        }
      }
    }
  }
  .service-grid {
    .col-33 {
      @media screen and (max-width: 425px) {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
      }
    }
  }
  .modal-wrapper {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    width: 100%;
    height: 100%;
    .modal {
      position: absolute;
      max-width: 800px;
      height: 50vh;
      min-height: 400px;
      max-height: 800px;
      width: 100%;
      flex-basis: 100%;
      background-color: white;
      @media screen and (max-width: 425px) {
        height: auto;
      }
      .xtimes {
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 2px 2px 2px black;
        width: 32px;
        height: 32px;
        font-size: 26px;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
      }
      .body {
        height: 100%;
      }
      .col-50.img {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .col-50.text {
        box-sizing: border-box;
        padding: 15px;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;
        overflow: auto;
        .popup-title {
         
          font-weight: bold;
          font-size: 25px;
          text-align: center;
        }
        .popup-description {
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }
}
