@import "../../../styles.scss";
:host {
  color: white;
  .pre-footer {
    height: auto;
    padding-top: 65px;
    padding-bottom: 65px;

    box-sizing: border-box;
    background-color: $primary-color;
    width: 100%;
    ul {
      margin: 0 auto;
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        line-height: 65px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
    .footer-item-title {
      display: block;
      width: 100%;
      text-align: left;
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      padding-bottom: 10px;
      span{
        position: absolute;
        right: 10px;
      }
    }
    .footer-item {
      display: block;
      width: 90%;
      text-align: left;
      padding-top: 5px;
      padding-bottom: 5px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px;
      text-transform: unset;

      &.link {
        cursor: pointer;
      }
      &.link:hover {
        text-decoration: underline;
      }
    }
  }
  .footer {
   /*  height: 40px; */
    line-height: 20px;
    margin: 0;
    padding: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    background-color: #646464;
  }
  .white-logo {
    width: 35%;
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: white;
    font-size:28px;
   
  }
  @media screen and (max-width: 425px) {
    *[class*="col-33"] {
      div {
        text-align: center !important;
        margin: 0 auto;
      }
    }
  }
  .grid {
    @media screen and (max-width: 425px) {
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;
    }
  }
  .certifications-carousel{
    height: 80px;
  }
}
