<div class="pre-footer" *ngIf="footerData" ngsReveal>
    <div class="wrapper">
        <div class="grid no-show-mobile-flex">
            <div class="col-25">
                <div class="footer-item-title ">NOSOTROS</div>
                <div [routerLink]="['our-company']" class="footer-item">Quiénes Somos</div>
                <div [routerLink]="['sig-politics']" class="footer-item">Políticas SIG</div>
                <div [routerLink]="['certifications']" class="footer-item">Certificaciones</div>

            </div>
            <div class="col-25">
                <div class="footer-item-title ">SERVICIOS</div>
                <ng-container *ngIf="servicesData">
                    <div *ngFor="let item of servicesData.services" [routerLink]="['/services/'+ item.id]"
                        class="footer-item">{{item.titulo}}
                    </div>
                </ng-container>

            </div>
            <div class="col-25 ">
                <div class="footer-item-title ">PROYECTOS</div>
                <ng-container *ngIf="projectsData">
                    <div *ngFor="let item of projectsData.categories" [routerLink]="['/projects/'+item.id]"
                        class="footer-item">{{item.titulo}}
                    </div>
                </ng-container>
            </div>
            <div class="col-25 ">
                <div class="footer-item-title">Contáctanos</div>
                <div class="footer-item"><i class="fas fa-map-marker-alt"></i> {{footerData.address}}</div>
                <div class="footer-item"><i class="fas fa-envelope-open"></i> {{footerData.email}}</div>
                <div class="footer-item"><i class="fas fa-phone-volume"></i> {{footerData.telefono}}</div>
                <br>
                <!-- <div class="footer-item-title ">Redes Sociales</div> -->
                <div class="col-100 ">
                    <a [href]="footerData.fb_url" target="_blank"> <i class="fab fa-facebook-square"></i>
                    </a> &nbsp;
                    <a [href]="footerData.linkedin_url" target="_blank"> <i class="fab fa-linkedin"></i>
                    </a> &nbsp;
                    <a [href]="footerData.yt_url" target="_blank"> <i class="fab fa-youtube"></i> </a>
                </div>
            </div>
        </div>
        <div class="grid show-mobile">
            <div class="col-25">
                <br><br>
                <div class="footer-item-title " (click)="toggleCollapsable(0)">NOSOTROS <span><i
                            class="fas fa-chevron-down"></i></span> </div>
                <hr>
                <div *ngIf="collapsables[0]" class="footer-item-wrapper" ngsReveal>
                    <div [routerLink]="['our-company']" class="footer-item">Quiénes Somos</div>
                    <div [routerLink]="['sig-politics']" class="footer-item">Políticas SIG</div>
                    <div [routerLink]="['certifications']" class="footer-item">Certificaciones</div>
                </div>
            </div>
            <div class="col-25">
                <br><br>
                <div class="footer-item-title " (click)="toggleCollapsable(1)">SERVICIOS <span><i
                            class="fas fa-chevron-down"></i></span></div>
                <hr>
                <div *ngIf="collapsables[1]" class="footer-item-wrapper" ngsReveal>
                    <ng-container *ngIf="servicesData">
                        <div *ngFor="let item of servicesData.services" [routerLink]="['/services/'+ item.id]"
                            class="footer-item">{{item.titulo}}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-25 ">
                <br><br>
                <div class="footer-item-title " (click)="toggleCollapsable(2)">PROYECTOS
                    <span><i class="fas fa-chevron-down"></i></span></div>
                <hr>
                <div *ngIf="collapsables[2]" class="footer-item-wrapper" ngsReveal>
                    <ng-container *ngIf="projectsData">
                        <div *ngFor="let item of projectsData.categories" [routerLink]="['/projects/'+item.id]"
                            class="footer-item">{{item.titulo}}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-25 ">
                <br><br>
                <div class="footer-item-title" (click)="toggleCollapsable(3)">Contáctanos <span><i
                            class="fas fa-chevron-down"></i></span></div>
                <hr>
                <div *ngIf="collapsables[3]" class="footer-item-wrapper" ngsReveal>

                    <div class="footer-item"><i class="fas fa-map-marker-alt"></i> {{footerData.address}}</div>
                    <div class="footer-item"><i class="fas fa-envelope-open"></i> {{footerData.email}}</div>
                    <div class="footer-item"><i class="fas fa-phone-volume"></i> {{footerData.telefono}}</div>
                    <br>
                    <!-- <div class="footer-item-title ">Redes Sociales</div> -->
                    <div class="col-100 ">
                        <a [href]="footerData.fb_url" target="_blank"> <i class="fab fa-facebook-square"></i>
                        </a> &nbsp;
                        <a [href]="footerData.linkedin_url" target="_blank"> <i class="fab fa-linkedin"></i>
                        </a> &nbsp;
                        <a [href]="footerData.yt_url" target="_blank"> <i class="fab fa-youtube"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer" *ngIf="footerData">
    <br>
    <div class="certifications-carousel" *ngIf="certificationsConfig">
        <app-carousel [config]="certificationsConfig"></app-carousel>
    </div>
    <br>
    Todos los derechos reservados 2019
</div>