<div class="project-hero-image" ngsReveal>
    <img src="/assets/img/nosotros.jpg">
    <div class="cover">
        <div class="wrapper">
            Quiénes Somos
        </div>
    </div>
</div>
<br>
<div class="wrapper" *ngIf="ourCompanyData">
    <div class="grid division-section" style="padding-bottom: 10px;" ngsReveal>
        <div class="col-50">
            <div class="section-title">MISIÓN</div>
            <div class="section-content fix-padding-right" [innerHTML]="ourCompanyData.mision">

            </div>
            <br>
            <div class="section-title">VISIÓN</div>
            <div class="section-content fix-padding-right" [innerHTML]="ourCompanyData.vision">

            </div>
        </div>
        <div class="col-50 mobile-fix-height">
            <app-simple-carousel [config]="missionConfig"></app-simple-carousel>
        </div>
    </div>
    <div class="grid division-section">
        <div class="col-100" ngsReveal>
            <div class="section-title">VALORES</div>
            <br>
        </div>
        <div class="col-25" *ngFor="let item of valuesArray" [ngsRevealSet]="{viewFactor: 0.5 }" [ngsInterval]="150"
            [ngsSelector]="'.col-25'">
            <img class="round-icon" [src]="item.url_image">
            <span class="text-icon"> {{item.titulo}}</span>
        </div>

    </div>

    <div class="grid division-section" ngsReveal>
        <div class="col-50">
            <img [src]="historyImage" class="our-section-image">
            <!--  <app-simple-carousel [config]="historyConfig"></app-simple-carousel> -->
        </div>
        <div class="col-50">
            <div class="section-title fix-padding-left">HISTORIA</div>
            <div class="section-content fix-padding-left" [innerHTML]="ourCompanyData.historia">
            </div>
        </div>
    </div>
</div>
<br><br><br><br>