@import "../../styles.scss";
:host {
  .project-hero-image {
    display: block;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
      position: relative;
      display: block;
    }
    .cover {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      display: block;
      content: " ";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 40px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
      padding-top: 100px;
      span {
        padding-top: 10px;
        font-size: 20px;
        color: $gray-color;
        display: block;
        font-weight: normal;
      }
    }
  }
  display: block;
  padding-top: 65px;
  .division-section {
    padding-top: 30px;
    padding-bottom: 30px;
    .section-title {
      padding-top: 0;
    }
  }
  .text-icon {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    color : $primary-color;
  }
  .round-icon {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    //border-radius: 50%;
    //border: 2px solid $primary-color;
    width: 80px;
    display: block;
    object-fit: contain;
    margin-bottom: 10px;
  }
  .our-section-image {
    width: 100%;
    object-fit: cover;
  }
  .fix-padding-right {
    padding-right: 50px;
    @media screen and (max-width:425px){
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .fix-padding-left {
    padding-left: 50px;
    &::before {
      left: 50px;
      @media screen and (max-width:425px){
        left: 10px;
      }
    }
    @media screen and (max-width:425px){
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .mobile-fix-height{
    @media screen and (max-width:425px){
      min-height: 320px;
    }
  }
}
